@charset "utf-8";
/*html reset*/
/*IE8 브라우저에서는 html5가 사용되지 않는다. 아래 element는 html5에서 세로 나온거라 이곳에서 연결해줨*/
header, footer, section, article, nav, aside, main, figure, figcaption{
	display: block;
}
html,
body{
	min-height: 100%;
	/*html의 부모는 viewport로 viewport전체를 html과 body의 전체로 본다라는 의미*/
}
body{
	margin: 0;
	/*bady에 들어가 있는 user agence에 들어간 마진 삭제*/
	min-width: 320px;
	/* 화면이 더줄어들지 않도록 하기 위해 넣어준다. */
}
body, table, button, input, textarea, select{
	font-size: 14px;
	/*하위의 선택자들은 body에 글꼴크기를 지정해도 기준 크기로 나온다. 그래서 모두 지정을 해줘야한다.*/
}

/*All*/
body{
		background-image: -webkit-linear-gradient(#ccc,#fff);/*-webkit- 밴더 프리픽스을 적용한 브라우저일 경우 읽어라.*/
		background-image: -moz-linear-gradient(#ccc,#fff);/*-moz- 밴더 프리픽스을 적용한 브라우저일 경우 읽어라.*/
		background-image: -ms-linear-gradient(#ccc,#fff);/*-ms- 밴더 프리픽스을 적용한 브라우저일 경우 읽어라.*/
		background-image: -o-linear-gradient(#ccc,#fff);/*-o- 밴더 프리픽스을 적용한 브라우저일 경우 읽어라.*/
		background-image: linear-gradient(#ccc,#fff);/*background와 background-image는 같은 말이다. (to bottom,#fff,#000)은 생략가능하고, 아래로 그라디에이션이 이루어진다.는 뜻, 각도인 경우 45deg*/
}
.header>h1{
	font-size: 28px;
/*	font-weight: normal;  - 굵기 기본으로
	font-weight: bold;    - 굵기 굵게
	font-weight: 700;     - 굵기 수치값.(500:기본, 700:굵기*/
	text-shadow: 1px 5px 2px #fff, -1px -1px 0 #bbb;
	/*그림자의 우측 아래 뽀샤시 색상*/
}
.search{
	letter-spacing: -4px; 
}
.search>*{
/*.search>input으로 넣어도 됨.브라우저의 기능을 더 향상 시키는 방법*/
	vertical-align: top;
	border-radius: 3px;	/*모서리 둥글게... 좌측 상단부터 시계방향으로.. 3px 3px 3px 3px의 준말*/
}
.search>[type="search"]{
/*.search>input[type="search"]로 해도 무관*/
/*아래서 오버라이딩하기 위해 변경*/
	border: 1px solid #ccc;
	height: 32px;
	/*표준 지침에 버튼 크기가 9cm이상이어야 한다고 한다. 그 크기에 맞으려면 32px이상이어야 함*/
	width: 160px;
	box-shadow: 0 0 4px #ccc inset;
	box-sizing: border-box;
	/*박스 안에만 그림자가 들어가게 하려면 x와 y를 0으로 잡아주고, 뽀샤시를 꼭 0이상 줘야한다.*/
	/*inset은 박스 안쪽으로 그림자가 나오도록 한다.*/
	/*margin-right: -5px;*/
}

.search>[type="submit"]{
	width: 50px;
	height: 32px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 4px #aaa;
}
/*.header>.search.....이렇게 잡아줘야하지만 간단할 수록 좋음*/
main, .lnb, .aside{
	margin-bottom: 15px;
}
main{
	/*#main과 main은 선택자 우선순위가 달라진다.*/
	/*사실 순서대로 우선순위가 잡히지만, id가 element보다 우선 순위 높아서 뒤쪽에 코딩을 했어도 id를 읽어들인다.*/
	/*하단에 main을다시 지정할 수 있도록 하기 위함*/
	/*class<id<.body>main 으로 우선 순위가 잡힌다.*/
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	/*x좌표 y좌표 크기 색상*/
	/*IE7, IE8 에서는 rgba를 읽지를 못한다, 그래서 아래 방법으로 써놓는다.*/
	box-shadow: 0 0 4px #999;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	/*2가지를 모두 넣고 읽을 수 없는 놈은 위에, 읽을 수 있는 놈은 오버라이딩*/
	border-radius: 8px;
	/*모서리 둥글게 깎기*/
	min-height: 300px;
	/*박스내 300px보다 커지면, 함께 커진다. height는 내용이 넘쳐난다.*/

}
.lnb ul,
.aside ul{
	margin: 0;
	padding: 0;
	list-style: none;
	/*ul과 ol인 경우에만 list-style을 넣을 수 있다.*/
}
.lnb{
	text-shadow: 1px 1px 0 #333;	
}
.lnb h2{
	background: #666; 
	background: rgb(0,0,0,.3);
	border-radius: 4px 4px 0 0;
	 /*시계 방향으로 좌측 상단부터 깍을 각*/
	 font-size: 14px;
	 color: #fff;
	 padding: 0 10px;
	 line-height: 32px; 
	 /*인라인 속성 : 전체 너비가 32px이고, 글씨는 그 중간에 온다.*/
	 /*user agent에 마진이 들어가 있어서 main과 떨어지는 모습을 보인다.*/
	 /*32px의 이유는 모바일 단말기에서 표준 최소의 높이와 폭은 32px이다.*/
	 margin: 0;
}
.lnb li{
	margin: 1px 0;
}
.lnb a{
	display: block;
	background: #777;
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	/*글씨에 밑줄이 들어가 있는 걸 지우겠다(none)는 뜻*/
	color: #fff;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	/*a에 transition을 넣은 경우는 나갈때도 부드럽게 변하나, hover에 넣으면 들어갈때만 적용되고, 나올때는 적용되지 않는다.*/
}
.lnb :last-child>a{
	/*li의 라스트 차일드를 선택해서 그 안에 a태그*/
	/*.lnb *:last-child>a 또는 .lnb li:last-child>a 작성 가능*/
	border-radius: 0 0 4px 4px;
}
.lnb a:hover,
.lnb a:focus{
	/*hover는 마우스가 올라왔을 때를 의미함*/
	/*focus는 키보드가 올라갔을 때를 의미함*/
	/*IE7,IE8에서는 a외의 hover에서는 성능상 문제가 있음*/
	background: #555;
}

.aside{
	border:1px solid #ddd;
	/*color: red; --> border에 color값을 적용하지 않는 경우, text의 색상값을 넣는 color값의 색상을 가져온다.*/
	/*부모에 마진이 있을 경우, border나 padding을 넣어주면 부모 자식간의 중첩마진이 사라진다.*/
	border-radius: 4px;
	padding: 0 10px;
	/*width값을 설정하게 되면, 화면크기가 변경될때 padding과 border값이 다르게 보인다.*/
}
.aside h2{
	font-size: 14px;
	margin: 0;
	border-bottom: 1px solid #ddd;
	line-height: 32px;
}
.aside ul{
	padding: 10px 0;
}
/*.aside ul{
	margin: 0;
	padding: 0;
	list-style: none;
} --> 상단에 lnb와 aside를 함께 */
.aside a{
	display: block;
	line-height: 32px;
}

.footer{
	border-top: 1px dotted #ccc;
}
.footer>p{
	text-align: center;
	color: #666;
}

/*Mobile*/
	/*좌우에 마진을 넣어준다. body or container에 넣어준다.*/
.container{
	margin: 0 10px;
}
.skip{
	display: none;
}
.gnb>h2{
	height: 1px;
	/*면적을 가지지 않는 경우, 읽지 못하는 경우도 발생함.*/
	position: absolute;
	/*주변의 엘리먼트들이 밀리는 현상을 방지하기 위해..*/
	overflow: hidden;
	/*넘어간 값은 숨기라는 의미.*/
	margin: 0;
	/*없어도 됨*/
}
.gnb>ul{
	background: #666;
	border-radius: 4px;
	overflow: hidden;
	/*overflow를 주지 않으면, 자식 요소 중 a태그가 삐져나가서 둥글게 보이지 않는다. 그래서 넣음*/
	display: none;
}
.gnb>button{
	border: 0;
	background: #666;
	/*background: #666 url(xxx.png) no-repeat;*/
	/*이미지가 색상 위에 무조건 올라온다. no-repeat은 바둑판식 표현을 못하도록*/
	width: 40px;
	height: 36px;
	padding: 36px 0 0 0 ;
	/*box-sizing이 border-box여서 padding과 height값이 합쳐지지 않고, 둘 중 넓은 값을 폭으로 가진다.*/
	overflow: hidden;
	/*text가 화면 밖에 있어서 안보이긴 하나, 보이는 브라우저도 있으니, 화면에서 숨겨준다.*/
	border-radius: 4px;
	position: absolute;
	cursor: pointer;
	/*마우스 올릴때 손모양으로 바뀜*/
	top: 15px;
	right: 10px;
}
.gnb>button:before{
	/*bfore는 button의 첫번째 자식요소를 선택하라!*/
	/*그런데 자식요소가 없음으로 여기서 만들어준다. content로...*/
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 32px;
	height: 4px;
	/*background: #fff;*/
	border-top: 12px double #fff;
	border-bottom: 12px double #fff;
	/*absolute는 부모의 position이 있어야, 부모의 값을 가진다.*/
	/*전체 넓ㅅ이 widht32 /  border-top 12르 double로 3등분 해서 4,4,4가 됨, height값이 4여서 top과 bottom의 사이 폭이 나온다.*/
}
.gnb ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.gnb a{
	display: block;
	background: #666;
	color: #fff;
	/*메뉴 전체를 색상을 같도록 했음*/
	line-height: 32px;
	text-decoration: none;
	padding: 0 10px;
	white-space: nowrap;
	/*제목이 길어졌을 경우, 줄바꿈을 하지 않게 하는 기능*/
	/*.gnb>ul의 overflow 덕에 칸 밖으로 나간 글이 보이지 않는다. 하지만 text-overflow가 작동하지 않는다.*/
	overflow: hidden;
	text-overflow: ellipsis;
	/*inline의 경우 적용되지 않는다.*/
}
.gnb>ul>li>a{
	/*큰 메뉴에 있는 a만! 선택하는 방법*/
	background: #444;
}
.gnb li li{
	/*작은 메뉴 선택*/
	/*.gnb li li=.gnb>ul>li>ul>li 같다*/
	border-top: 1px dotted #444;
}

.gnb>ul>li>ul>li:first-child{
	/* =.gnb li li:first-child*/	
	border: 0;
}
.search{
	margin: 15px 0;
	/*검색 버튼 상하로 너무 다닥다닥 붙어 있는 거 수정*/
	padding: 0 60px 0 0;
	position: relative;
	/*submit버튼에 position을 넣기 위해*/
}
.search>[type="search"]{
	display: block;
	width: 100%;
}
.search>[type="submit"]{
	width: 50px;
	position: absolute;
	top: 0;
	right: 0;
	/*padding 값이 .search에서 60px가 들어가 있으나, absolute는 padding에 영향을 받지 않는다.*/
}
/*Tablet & Desktop*/
@media only all and (min-width:768px){
	/*body{
		background: red;
	}*/
/*only all and은 생략이 가능하다. */
/*only media 커리가 가능한 브라우저만 해라*/
/*all 대신에 screen, print로도 사용이 가능하다. 이때는 screen인 경우에는 screen에서만 보여라, print인 경우 인쇄할 때만 보이게 해라의 의미*/
/*and의 경우는 all(screen,print)를 사용하지 않으면, 쓰지 말아야한다.*/
.gnb>button{
	display: none;
}
.search{
	position: absolute;
	top: 20px;
	right: 10px;
	margin: 0;
	width: 200px;
}
.gnb{
	margin-bottom: 15px;
	position: relative;
	/*중메뉴가 메뉴 바의 앞쪽에 나오도록 하기 위함.*/
}
.gnb>ul{
	display: block !important;
	/*!important는 최상위로 우선순위가 올라간다.*/
	/*모바일 화면에서 폍다가 접으면 inline으로 style이 들어간다. 그래서 메뉴가 안보이게 됨으로 !important로 블록형태로 유지시킴*/
	height: 40px;
	border-bottom: 40px solid #fff;
	padding-left: 25px;
	overflow: visible;
	background: -webkit-linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
	background: -moz-linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
	background: -ms-linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
	background: -o-linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
	background: linear-gradient(to bottom, #555 0%, #333 50%, #000 50%, #222 100%);
	/*to bottom은 최신 버전에서 들어갔으므로, 옛날 브라우저에선 안먹을 수 있어서 뺀다.*/
}
.gnb ul ul{
	display: none;
}
/*코드 작성을 용이하게 하기 위해 잠시 접어둔다.*/
.gnb>ul>li{
	/*display: inline-block;*/
	/*자간 공백이 생김*/
	float: left;
}
.gnb a{
	background: none !important;
	/*모바일에서 지정한 백그라운드로 인해 취소처리됨으로 !임포턴트로 작성한다.*/
}
.gnb>ul>li>a{
	line-height: 40px;
	/*위쪽 검은색 바의 높이가 40px*/
	padding: 0 25px;
	/*메뉴 버튼 간 간격 넓이기*/
}
.gnb>ul>.active>a{
	/*ul과 a 사이에는 li뿐이 없음으로 li.active에서 li는 생략할 수 있다.*/
	background: #fff !important;
	color: #000;
	font-weight: 700;
	/*700=bold*/
	margin-top: 4px;
	line-height: 36px;
	/*마진 4px가 생기면서 아래로 4px text가 내려온다.그래서 line-height로 올려준다.*/
	border-radius: 4px 4px 0 0;
}
.gnb>ul>.active>ul{
	display: block;
	left: 0;
	/*메뉴 바의 맨앞으로 붙임*/
}
.gnb ul ul{
	position: absolute;
}
/*.gnb ul li:nth-child(3)>ul{
	자식의 순서대로 순차적으로 선택할 수 있는 선택자
	left: 100px;
	/*3번째 선택자만 100px만큼 
}*/
.gnb li li{
	border: 0;
	display: inline-block;
}
.gnb li li>a{
	color: #666;
	line-height: 40px;
}
.body:after{
/*main, lnb, aside가 모두 플롯이 되는 경우 height값이 없어집니다. 그래서 body에 높이를 넣어줘야하는데...그방법은 after를 넣어 body가 종료되기 직전에 가상의 element를
선택하게 하는 방식으로 만든다.*/
	content: "";
	/*before나 after의 경우에는 꼭!!! content와 함께한다.*/
	display: block;
	clear: both;
	/*float을 해체한다는 뜻 그렇지만 inline 요소에는 작동하지 않음으로 content는 inline이라서... block으로 변경해줘야 한다.*/
}
/*tablet과 desktop모두에 사용될 것임으로 이곳으로 이동*/
}
/*Tablet*/
@media (min-width: 	768px) and (max-width: 1024px){
	/*	body{
			background: green;
		}*/
}
/*@media ()는 if()와 같다. () and ()는 두가지 모두 참일 경우 */
/*Desktop*/
@media (min-width: 1025px){
		/*body{
			background: yellow;
		}
*/
}